[submodule "Chapter 10 - Best Practices and Coding Style/Mega Projects/Multilingual AI Assistant"]
	path = Chapter 10 - Best Practices and Coding Style/Mega Projects/Multilingual AI Assistant
	url = https://github.com/MohammedJabir18/Multilingual-AI-Assistant.git
